/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.accordion-wrapper {
 	.block-list-appender {
	  position: absolute;
	  bottom: -65px;
	  background-color: #fff;
	  border: 1px solid #EAE9ED;
	  border-radius: 10px;
	  button{
		box-shadow:none;
	  }
	}
  padding-bottom: 80px;
}
